
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
    color: #643754;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
}

footer {
    padding: 2rem;
    text-align: center;
}

.home-bg {
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    opacity: .3;
}

.home {
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;

    color: #643754;
    overflow-x: hidden;

    background-image: url("images/background-1920-transparent.png");
    background-size: cover;
    background-position: center;
}

.un-sdg {
    max-width: 150px;
    border-radius: .2rem;
}

/* home */

.home .un-sdg-link {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.home h1 {
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
    text-shadow: 0 0 18px #f4f1eb,
                 0 0 18px #f4f1eb,
                 0 0 18px #f4f1eb;
}

.home h2 {
    font-size: 2.4rem;
    font-weight: normal;
    text-shadow: 0 0 18px #f4f1eb,
                 0 0 18px #f4f1eb,
                 0 0 18px #f4f1eb;
    opacity: .8;
}


/* goal */

.goal {
    width: 54rem;
    margin: 0 auto;
    font-size: 1.4rem;
}

.goal h2 {
    font-size: 3rem;
    text-align: center;
}
